@import "mixins";
@import "variables";
.benefits .second{
    @include toRem(margin-top, 120)
}
.benefits__section{
    display: flex;
    justify-content: space-between;
}
.benefits__heading, .benefits__desc{
    text-align: center;
}
.benefits__heading{
    font-weight: 700;
    @include toRem(font-size, 42);
}
.benefits__desc{
    color: #615D57;
    @include toRem(font-size, 16);
    width: 27rem;
    margin: 1rem auto 2.5rem;
    
}
.benefits__grid{
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    justify-content: center;
    @include toRem(gap, 30);
}
.grid-item{
    @include toRem(width, 270);
    @include toRem(height, 190);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 1rem;
    &:hover{
        box-shadow: 0px 5px 15px 10px rgba(0, 0, 0, 0.05);
    }
}
.grid-item__title{
    @include toRem(font-size, 16);
    font-weight: 600;
}
.grid-item__desc{
    color: #615D57;
    @include toRem(font-size, 14);
    font-weight: 400;
}
.transform{
    @include toRem(width, 470);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.transform__title{
    font-weight: 700;
    @include toRem(font-size, 42);
    @include toRem(line-height, 52);
    
    @include toRem(margin-bottom, 16);
    font-family: "Sen", sans-serif;
}
.transform__desc{
    font-weight: 400;
    @include toRem(font-size, 16);
    @include toRem(margin-bottom, 54);
    color: #615D57;
}