@import "mixins";
@import "variables";
.btn{
    border-radius: 0.5rem;
    border: solid 1px #00966B;
    @include toRem(width, 180);
    @include toRem(height, 60);
    @include toRem(font-size, 18);
    font-weight: 600;
}
.btn--fill{
    color: #fff;
    background: #00966B;
    
}
.btn--border{
    background: #fff;
    color: #00966B;
    
}
.base{
    width: 100%;
    padding: 0 $edge-padding;
}
.controller{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
    .prev, .next{
        width: 2rem;
        height: 2rem;
        border-radius: 0.3rem;
        border: solid 1px $primary-color;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .next{
        background: $primary-color;
        margin-left: 0.5rem;
    }
}
section{
    @include toRem(margin-top, 134);
}