*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    min-width: 1440px;
}

@import "general.scss";
@import "nav.scss";
@import "landing.scss";
@import "explore.scss";
@import "benefits.scss";